
@{

}

<a class="btn btn-primary" asp-controller="AdminProduct" asp-action="Index">Products</a>
<a class="btn btn-primary" asp-controller="AdminBooth" asp-action="Index">Booth</a>
<a class="btn btn-primary" asp-controller="AdminComment" asp-action="Index">Comments</a>
<a class="btn btn-primary" asp-controller="AdminWage" asp-action="Index">Wage</a>
<a class="btn btn-primary" asp-controller="AdminUser" asp-action="Index">User</a>