@model IEnumerable<BoothDtOs>


@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div class="card m-2">
        @*<h5 class="card-header">@item.ProductId</h5>*@
        <div class="card-body">
            <h5 class="card-title">@item.BoothName</h5>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id="@item.BoothId">View Booth</a>
        </div>
    </div>
}
