@model ShopHomeViewModel

<h2>Categories</h2>

<div>
    @foreach (var category in Model.Categories)
    {
        <h3>@category.CategoryName</h3>
        <a class="btn btn-primary" asp-controller="Home" asp-action="CategoryDetails">Category Information</a>
    }
</div>


<h2>Booths</h2>

<div>
    @foreach (var booth in Model.Booths)
    {
        <h3>@booth.BoothName</h3>
        <a class="btn btn-primary" asp-controller="Home" asp-action="BoothDetails" asp-route-id="@booth.BoothId">Booth Information</a>
    }
</div>

