@model UserSellerRegisterViewModel

<h2>Seller Registration</h2>

<form asp-area="Identity" asp-controller="Identity" asp-action="SellerRegister" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.AntiForgeryToken()
    <!-- Common registration fields -->
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Image" class="control-label"></label>
        <input asp-for="Seller.Image" class="form-control" />
        <span asp-validation-for="Seller.Image" type="file" class="text-danger"></span>
    </div>

    <div>
        <h1>please enter your address</h1>
    </div>

    <!-- Customer-specific fields -->
    <div class="form-group">
        <label asp-for="Seller.Address.Alley" class="control-label"></label>
        <input asp-for="Seller.Address.Alley" class="form-control" />
        <span asp-validation-for="Seller.Address.Alley" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Address.Street" class="control-label"></label>
        <input asp-for="Seller.Address.Street" class="form-control" />
        <span asp-validation-for="Seller.Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Address.State" class="control-label"></label>
        <input asp-for="Seller.Address.State" class="form-control" />
        <span asp-validation-for="Seller.Address.State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Address.City" class="control-label"></label>
        <input asp-for="Seller.Address.City" class="form-control" />
        <span asp-validation-for="Seller.Address.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Address.ExtraPart" class="control-label"></label>
        <input asp-for="Seller.Address.ExtraPart" class="form-control" />
        <span asp-validation-for="Seller.Address.ExtraPart" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Address.PostCode" class="control-label"></label>
        <input asp-for="Seller.Address.PostCode" class="form-control" />
        <span asp-validation-for="Seller.Address.PostCode" class="text-danger"></span>
    </div>

    <div>
        <h1>
            please enter your booth information
        </h1>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Booth.BoothName" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothName" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Seller.Booth.BoothAddress.Alley" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothAddress.Alley" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothAddress.Alley" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Booth.BoothAddress.Street" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothAddress.Street" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothAddress.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Booth.BoothAddress.State" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothAddress.State" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothAddress.State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Booth.BoothAddress.City" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothAddress.City" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothAddress.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Booth.BoothAddress.ExtraPart" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothAddress.ExtraPart" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothAddress.ExtraPart" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Seller.Booth.BoothAddress.PostCode" class="control-label"></label>
        <input asp-for="Seller.Booth.BoothAddress.PostCode" class="form-control" />
        <span asp-validation-for="Seller.Booth.BoothAddress.PostCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
    </div>

</form>