@model CustomerCartProductCommentViewModel
@{
    ViewData["Title"] = "Leave a Comment";
}

<h2>Leave a Comment for Product </h2>

<form asp-action="LeaveComment" asp-controller="CustomerPanel" method="post">
    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label asp-for="Message">Comment:</label>
        <textarea asp-for="Message" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit Comment</button>
</form>