@model CustomerDashbordViewModel

<h3>Carts:</h3>
@if (Model.Carts != null)
{
    @foreach (var cart in Model.Carts)
    {
        if (cart.IsPayed == true)
        {
            <div>
                <div>
                    <p>Total Price: @cart.Price</p>
                </div>
            
                <h4>Products:</h4>
                @foreach (var product in cart.Products)
                {
                    <div>
                        <p>Product Name: @product.ProductName</p>
                        <p>Price: $@product.Price</p>
                        <p>Amount: @product.Amount</p>
                    </div>
                    <a class="btn btn-primary" asp-controller="CustomerPanel" asp-action="LeaveComment" asp-route-ProductId="@product.ProductId">Leaving Comment</a>
                }
           
            </div>
            <div>
                <p>___________________________________________________________________</p>
            </div> 
        }
       
    }
}
else
{
    <h1>adding cart</h1>
}